@font-face {
  font-family: PTSans-Bold;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/PTSans-Bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2"); }

@font-face {
  font-family: PTSans-Regular;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/PTSans-Regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2"); }
