@font-face {
  font-family: Oswald Medium;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Oswald-Medium.woff) format("woff"), url(../fonts/Oswald-Medium.woff2) format("woff2"); }

@font-face {
  font-family: Oswald Regular;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Oswald-Regular.woff) format("woff"), url(../fonts/Oswald-Regular.woff2) format("woff2"); }
